<table border='0' cellpadding='0' cellspacing='0' width='100%'>
  <tr bgcolor='#faf9dc'>
    <td style='padding: 15px;' valign='top'>
      <h4>
        <a href="{{ site.naver_d2.url }}" style="line-height: 24px;">양누리 공동체(Yangnuri mission church)</a>
      </h4>
      성령의 능력으로 진리안에서 하나님 나라를 이루는 양누리 교회 공동체
    </td>
    <td style='padding: 15px;' valign='top'>
      <a href='{{ site.naver_d2.url }}'>
        <img alt="예수의 핏소리(양누리 공동체)" height="68" src="{{ site.naver_d2.image }}" width="164" />
      </a>
    </td>
  </tr>
  <tr>
    <td height='40' colspan="2"></td>
  </tr>
</table>
