<!DOCTYPE html>

<html>

<head>

<meta charset='utf-8'>

<meta http-equiv="X-UA-Compatible" content="chrome=1">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">

<link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen">

<link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">

<!--[if lt IE 9]>

<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>

<![endif]-->

<title>Yangnuri-Podcast2</title>

</head>

<body>

<header>

<div class="inner">

<h1><img class="img-circle" src="http://yangnuri2.github.io/images/YL-164.jpg" width="55px" height="55px"> Yangnuri-pod2</h1>


<h2></h2>

<a href="http://cafe.daum.net/yangnuri-ch" class="button"><small>Follow me on</small> 양누리-카페</a>

</div>

</header>

<div id="content-wrapper">

<div class="inner clearfix">

<section id="main-content">

<h3>

<a id="양누리 공동체(Yangnuri mission church)" class="anchor" href="#양누리 공동체(Yangnuri mission church)" aria-hidden="true"><span class="octicon octicon-link"></span></a>양누리 공동체(Yangnuri mission church).</h3>

<p>성령의 능력으로 

진리안에서 하나님 나라를 이루는 양누리 교회 공동체</p>

<p>"Yangnuri mission church" is the community of Jesus followers.

The church is forming the kingdom of God with Holy Spirit ability by the bible.</p>

<h3>

<a id="Yangnuri-Podcast" class="anchor" href="#Yangnuri-Podcast" aria-hidden="true"><span class="octicon octicon-link"></span></a>Yangnuri-Podcast</h3>

<p>주일설교,새벽QT설교,특별강의,5-M 설교를 시작합니다. 옥한흠목사님은 평생 설교의 짐을 지고 살았다고 하는데 저도 곧 시작하게 되는군요.</p> 

<p>주일 설교는 로마서, 창세기, 요한 계시록을 설교할 것입니다. 주일 설교는 <a href="http://www.podbbang.com/ch/8706" class="양누리-팟2(예수의 핏소리)">양누리-팟2(예수의 핏소리)</a>에 올릴것입니다. 또한 <a href="http://www.podbbang.com/ch/8706" class="양누리-팟2(예수의 핏소리)">양누리-팟2(예수의 핏소리)</a>에 신앙생활 시리즈. 교회론등을 설교하려고 합니다.</p>

<p> 그리고 5년동안 창세기부터 요한 계시록까지 새벽 QT설교와 인물 설교를 할 것입니다. 이 설교는 <a href="http://yangnuri.github.io/" class="양누리-팟1(양누리 공동체)">양누리-팟1(양누리 공동체)</a>에서 볼수 있습니다. 그리고 모든 동영상 설교는 <a href="http://www.youtube.com/channel/UCcx23KhkV_-P7ZygYCq8wFw" class="양누리-Youtube">양누리-Youtube</a>에서 볼 수 있습니다. <a href="https://play.google.com/store/apps/details?id=vercoop.yangnuri.app&hl=en_GB" class="교회 App">교회 App</a>은 한달 설교만 올립니다.</p>

<p>이 모든 설교는 영어, 중국어, 일어로 시작할 수 있도록 기도중입니다. 모든 설교에 성령의 기름부음이 있도록 기도 부탁드립니다.<a href="http://yangnuri3.github.io." class="양누리-팟3-Y-books (양누리 서원)">[양누리-팟3 "Y-books (양누리 서원)"]</a></p>

<p>이사야 55장</p>
<p>10. 이는 비와 눈이 하늘로부터 내려서 그리로 되돌아가지 아니하고 땅을 적셔서 소출이 나게 하며 싹이 나게 하여 파종하는 자에게는 종자를 주며 먹는 자에게는 양식을 줌과 같이</p>
<p>11. 내 입에서 나가는 말도 이와 같이 헛되이 내게로 되돌아오지 아니하고 나의 기뻐하는 뜻을 이루며 내가 보낸 일에 형통함이니라

</p>

<p>I will start the Sunday preaching, dawn QT preaching, special lecture, and 5-M preaching.</p> 

<p>Sunday sermon will be preached on Romans, Genesis, Revelation. The dawn QT preaching is going to start from 1 Genesis, With 5 minute messages is evangelism, with the special lecture is demonstration.</p>

<p>first, I will start with English of 5 minute message or The calling. and the Sunday preaching video will be watched with English subtitles. moreover I will start a preaching with the Chinese and Japanese. please pray for me.

You can corroborate the preaching video in <a href="http://www.youtube.com/channel/UCcx23KhkV_-P7ZygYCq8wFw" class="Youtube">Youtube</a>. and Yangnuri mission church opened <a href="http://yangnuri3.github.io."class="Y-books">"Y-books"</a>.  <a href="https://play.google.com/store/apps/details?id=vercoop.yangnuri.app&hl=en_GB" class="교회 App">Church App</a>(for Android) goes up one month preaching.</p>

<p> With Yangnuri social network media, I wish that The Jesus Christ's kingdom is expanding by Holy Spirit ability.</p>
<h3>


<a id="Yangnuri-episodes(예수의 핏소리)" class="anchor" href="#Yangnuri-episodes(예수의 핏소리)" aria-hidden="true"><span class="octicon octicon-link"></span></a>Yangnuri-episodes (예수의 핏소리)</h3>

<hr>

<div class="post">

            </section>


<aside id="sidebar">

<p>This page was generated by <a href="https://github.com/yangnuri2">GitHub Pages</a> using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>

<h3>

<p><img class="img-circle" src="http://yangnuri2.github.io/images/YL-1.jpg" width="200px" height="145px"></p>

<a id="Yangnuri-community" class="anchor" href="#Yangnuri-community" aria-hidden="true"><span class="octicon octicon-link"></span></a>Yangnuri-community</h3>

<p><a href="https://www.facebook.com/yangnuri91">https://www.facebook.com/yangnuri91</a></p> 

<p><a href="https://twitter.com/o691saza">https://twitter.com/o691saza</a></p>
<h3>
 <a href="http://yangnuri2.github.io/podcast.xml"><img src="http://yangnuri2.github.io/images/rocarss_pink160.png">
<h3>
<p><a href="http://www.podbbang.com/ch/8699"><img class="img-circle" src="http://yangnuri.github.io/images/YL-600.jpg" width="200px" height="200px"></p>
<h3>
<p><a href="http://www.podbbang.com/ch/8730"><img class="img-circle" src="http://yangnuri3.github.io/images/YL3-600-5.jpg " width="200px" height="200px"></p>

             
 </a>

</aside>


<hr>

</div>
        </h3>
 
      </div> 
     <div class="content"> 

        {{ content }}
      
                  
      </div>

       </div> 
     
   </body> 
 </html> 


